:root {
  --range: #fff 100;
  --primary: #fff;
}

body {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #0d0d0d;
  height: 896px;
  width: 414px;
  min-width: 414px;
  overflow: hidden;
  position: relative;
}

.top {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translatex(-50%);
  z-index: 99;
}

.bottom {
  background-color: #e3e3e3;
  position: fixed;
  bottom: 0;
  width: calc(100%);
  z-index: 99;
}

.top button,
.bottom button {
  color: var(--primary);
}

.overlay {
  position: absolute;
  height: 100%;
  border: 0;
  width: calc(100%);
  background-color: #0f0f0f;
}

.video-box {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.box {
  height: 100%;
  scroll-snap-align: start;
  position: relative;
}

.explain {
  position: absolute;
  width: calc(100% - 40px);
  padding: 10px;
  border-radius: 6px;
  bottom: 90px;
  z-index: 9;
  color: var(--primary);
}

.explain-video-bar {
  height: 4px;
  border-radius: 100px;
  width: calc(100%);
  background-color: var(--range);
  margin: 4px 0;
}

.explain-video-bar-w {
  height: 100%;
  background: var(--primary);
  border-radius: 100px;
  transition: 1.2s linear;
  position: relative;
}

.explain-video-bar-w:before {
  content: "";
  display: block;
  height: 4px;
  width: 10px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.explain-video-bar-w.end {
  transition: 0s;
}

.explain span {
  color: var(--primary);
  font-weight: 500;
}

.move,
.video,
.mask {
  position: absolute;
  height: 100% !important;
  width: calc(100%);
}

.video > video {
  object-fit: fill;
}

.mask {
  z-index: 5;
}

.mask > img {
  height: 100%;
  width: calc(100%);
}
